.bg-image {
  background-image: url("../../assets/background-3.jpg");
  background-blend-mode: multiply;
  /* background-size: cover; */
  /* background-position: center; */
  height: 100vh;
  /* width: 1000px; */
  max-width: -webkit-fill-available;
  margin-left: 0px;
  margin-right: 0px;
}

/* .image-overlay {
} */
.grid1 {
  position: absolute;
  /* backdrop-filter: blur(15px); */
  left: 35%;
  top: auto;
  margin-top: 20px;
}

/* .container {
  max-width: 1315px; 
} */
h1 {
  font-size: 60px;
  /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
  font-weight: bold;
  color: white;
  margin: 5px;
  padding: 10px;
  font-style: normal;
  font-family: "AmstelvarAlpha";
  background: linear-gradient(90deg, #012f19, #1fa11f, #012f19);
  background-repeat: inherit;
  background-size: 80%;
  animation: animate 5s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(204, 199, 201, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

/* .row1 {
  margin: 0 auto;
  margin-left: 80px;
} */

.box2 {
  display: flex;
  flex-wrap: nowrap;
}

.small-grid-bg {
  background: rgba(34, 183, 69, 0.2);
  border-radius: 100%;
  width: 300px;
  padding: 20px;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
/* 
.small-grid-bg p:hover {
  background: linear-gradient(
    45deg,
    rgba(125, 213, 153, 0.452),
    rgba(9, 84, 20, 0.5)
  );
  border-radius: 100%; 
  border-radius: 5px;
  padding: 10px;
  transition: background 0.3s ease;
} */

.workspace {
  font-size: 30px;
  padding: 5px;
  font-family: serif;
  color: rgb(40, 38, 38);
  font-weight: bold;
  border: none;
  background: transparent;
}

.image {
  font-size: 30px;
  padding: 5px;
  font-family: serif;
  color: black;
  font-weight: bolder;
  border: none;
  background: transparent;
}

.grid2 {
  position: absolute;
  left: 28%;
  /* backdrop-filter: blur(15px); */
  margin-bottom: 0%;
  width: 70%;
  color: rgb(79, 83, 79);
}

/* animations */
h1 {
  animation: slide-in 1s ease-in-out forwards;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.small-grid-bg,
.grid2 {
  animation: pop-up 0.5s ease-in forwards;
}

@keyframes pop-up {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* skeletons */
.skeleton {
  background-color: rgba(75, 134, 94, 0.2);
  color: transparent;
}
.h2-skeleton-details {
  background-color: rgba(75, 134, 94, 0.4);
  color: rgba(75, 134, 94, 0);
  border-radius: 30px;
  width: 30%;
}
.details-skeleton {
  width: 60%;
  margin: 0 auto;
  border-radius: 30px;
  color: transparent;
  margin-top: 20px;
}
.width-small {
  width: 30%;
}
.width-large {
  width: 900px;
  height: 30px;
}
.width-verysmall-d {
  width: 15%;
  border-radius: 30px;
  height: 40px;
  margin: 0 auto;
}
.skeleton1 {
  background-color: rgba(75, 134, 94, 0.2);
  color: transparent;
  padding: 20px;
  border-radius: 30px;
}
.small-grid-bg-s {
  border-radius: 100%;
  width: 300px;
  padding: 20px;
  border-radius: 30px;
}
.border-r {
  border-radius: 30px;
}
.padding-skeleton {
  position: relative;
  top: 30%;
}
