.bg-image1 {
    background-image: url("../assets/background-3.jpg");
    opacity: 0.8;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start;
  }
  
  .grid1w {
    align-items: center; 
  }

.cointainer-workspace{
    /* margin-left: 100px; */
}