.vertical-navbar {
  display: flex;
  flex-direction: column;
  width: 240px;
  background-color: #f0f0f0;
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
  min-width: 200px;
  margin: 0;
}

.vertical-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo-image {
  width: 30px; /* Adjust width as needed */
  height: 30px; /* Adjust height as needed */
  display: inline-block;
  margin-right: 7px;
}

.vertical-navbar li,
.Navbar-button {
  margin-bottom: 10px;
  text-align: left;
}

.navigation-items {
  display: flex; /* Make navigation items horizontal */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  margin: 0; /* Remove default margins */
  padding: 0; /* Remove default padding */
  list-style: none; /* Remove bullet points */
}

.logout-button {
  margin-top: auto; /* Move logout button to bottom */
}

.vertical-navbar a {
  text-decoration: none;
  color: #333;
  font-size: 22px;
  display: block;
  padding: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transition: background-color 0.2s ease-in-out;
}

.vertical-navbar {
  animation: slide-in 0.5s ease-in-out forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.Navbar-button {
  border: none;
  padding: 0px;
  background-color: transparent;
  padding-left: 10px;
}
/* .Navbar-button:hover{
  background: linear-gradient(
    45deg,
    rgba(102, 185, 116, 0.5),
    rgba(18, 85, 6, 0.5)
);
  border-radius: 5px;
  transition: background 0.3s ease;
} */

.vertical-navbar a.active {
  animation: pulse 0.7s ease-in-out infinite alternate; /* Add infinite and alternate for pulsating effect */
  background-color: #c3d6d0;
  border-radius: 5px;
}

@keyframes pulse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.8;
  }
}

.vertical-navbar a:hover .nav-icon,
.vertical-navbar a:hover {
  animation: pop 0.2s ease-in-out;
}

@keyframes pop {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1); /* Adjust scale for desired pop effect */
  }
}

.nav-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px; /* Spacing between icon and text */
  margin-bottom: 4px;
}

.vertical-navbar a.active,
.Navbar-button a.active {
  background-color: #519f4055;
  border-radius: 5px;
}
.vertical-navbar a:hover {
  background: linear-gradient(
    45deg,
    rgba(102, 185, 116, 0.5),
    rgba(18, 85, 6, 0.5)
  );
  border-radius: 5px;
  transition: background 0.3s ease; /* Smooth transition effect */
}

.company-logo {
  text-align: center;
  font-weight: bold;
  color: #333;
  padding-bottom: 25px;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: -webkit-linear-gradient(right, rgba(20, 173, 10), rgba(1, 35, 6));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* margin-bottom: 10px; */
}
