.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.page {
  display: flex; /* Enable flexbox layout for side-by-side elements */
}

.page > * {
  /* Target all direct children of .page */
  flex: 1; /* Make each child element take up half the available space */
  padding: 0; /* Remove any default padding */
  border: none; /* Remove any default border */
}
.content-container {
  flex: 1;
  padding: 1rem; /* Add some padding */
}

.dashboard {
  flex: 1;
  padding: 1rem;
  min-width: 1000px;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  height: 100vh;
  box-sizing: border-box;
  min-width: 200px;
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  display: flex;
  flex-direction: column; /* Stack content vertically by default */
  justify-content: center;
}

.content {
  flex: 1;
  padding: 1rem;
}









